* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Readex Pro';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
background-color: #6d6d6d;
}


#menuNav a {
    font-size: 15px;
    font-weight: bold;
    color: beige;
}

.carousel-inner {
    display: flex;
    justify-content:space-around;
}


.tituloLista {
    margin-left: 250px;
    padding: 1px;
    font-weight: bold;
}

.carousel-inner iframe {
    width: 650px;
    height: 350px;
}


/* LICENCIAS */
#licencias {
    height: auto;
    width: auto;
}
#licencias .licencias-tipo {
    color: beige;
    list-style-type:circle;
    list-style-position: inside;
    border-style: inset;
    border-radius: 5px;
    background-image: linear-gradient(grey, #003d33);
    
}

.licencias-tipo p {
    text-align: center;
    font-weight: bold;
    font-weight: 150pt;
    font-size: 20pt;
}

.licencias-tipo li {
    padding: 5pt;
    text-align: left;
}


/* METODOS DE PAGO */
.tituloPago {
    color: beige;
    font-weight: bold;
    font-size: 35px;
}

.parrafoPago {
    font-size: 25px;
    color: beige;
}

.mediosPago {
    color: beige;
    font-weight: bold;
    font-size: 25px;
}
.imagenesPago {
    background-color: #6d6d6d;
    width: 150px;
    height: auto;
    padding: 5pt;
}

/* SERVICIOS */
.servicios {
    color: beige;
    font-weight: bold;
    font-size: 35px;
}

.serviciosLista {
    color: beige;
    font-weight: bold;
    font-size: 25px;
}

/* FOOTER */
#footer{
    display: flex;
    margin-bottom: 0;
}


.footerRights {
    color: beige;
    padding: 1pt;
}

.footerRedes {
    color: beige;
    padding: 1pt;
    
}

.iconos {
    color: beige;
    
}

