* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Readex Pro';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
background-color: #6d6d6d;
}


#menuNav a {
    font-size: 15px;
    font-weight: bold;
    color: beige;
}

.carousel-inner {
    display: flex;
    justify-content:space-around;
    
    
}


.tituloLista {
    margin-left: 250px;
    padding: 1px;
    font-weight: bold;
}

.carousel-inner iframe {
    width: 500px;
    height: 350px;

}


#licencias {
    height: auto;
    width: auto;
}
#licencias .licencias-tipo {
    color: beige;
    list-style-type:circle;
    list-style-position: inside;
    border-style: inset;
    border-radius: 5px;
    background-image: linear-gradient(grey, #003d33);
    
}

.licencias-tipo p {
    text-align: center;
    font-weight: bold;
    font-weight: 150pt;
    font-size: 20pt;
}

.licencias-tipo li {
    padding: 5pt;
    text-align: left;
}



.formTitle {
    text-align: center;
    color: beige;
    font-weight: bold;
    border-style:solid;
    border-radius: 5pt;
    background-image: linear-gradient(grey, #003d33)
}

.formInput {
    display: flex;
    justify-content: center;
    text-align: center;
    color: beige;
    font-weight: bold;
    gap: 5pt 8pt;
    padding: 3pt;
    
}

.inputSpace {
    display: flex;
    gap: 2pt;
    justify-content: end;
}

.inputFile {
    color: beige;
}

#footer{
    display: flex;
}

.footerRights {
    color: beige;
    padding: 1pt;
}

.footerRedes {
    color: beige;
    padding: 1pt;
    @font-face {
        weight: 100 ;
        
    }
}

.iconos {
    color: beige;
    
}

