* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Readex Pro';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
background-color: #6d6d6d;
}

/* NAV */
#menuNav a {
    font-size: 18   px;
    font-weight: bold;
    color: beige;
}

#menuNav a:hover  {
    color: darkgreen;
}

#menuNav .logoNav {
   width: 20px; 
}

/* Informacion Personal */
.logoInfo {
    width: 320px;
    height:280px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: #6d6d6d;
}

.infoIndex {
    font-size: 20px;
    color: beige;
    padding-left: auto;
    border-style: groove;
    border-radius: 10pt;
}

/* Carrusel */

#videosYoutube {
    height: 100%;
}
.carrusel {
    padding: 50pt;
    background-color: black;
    
}

.carrusel h2 {
    color: beige;
    font-weight: bold;
    font-size: 40px;
    
}

.carrusel p {
    color: beige;
    
}

/* LICENCIAS */

#licencias {
   display: flex;
   justify-content: center;   
   color: beige;
}

.tituloLicencias {
    font-size: 80px;
    font-weight: bold;
    overflow: hidden;
}

.licencias-tipo {
    border-style: groove;
    border-radius: 10pt;
    border-width: 5pt;
    font-weight: bold;
    background-image: linear-gradient(grey, black)
}
li::marker {
    color: black;   
}

.licencias-tipo h3 {
    font-weight: bold;
}

/* MEDIOS DE PAGO */
.tituloMPago {
    color: beige;
}

.tituloMPago h3 {
    font-size: 80px;
    font-weight: bold;
}

.iconosMPago .bi {
    font-size: 8rem;
    color: beige;
    padding: 25pt;
}

.bi-paypal:hover {
    color:blue;
}
.bi-cash-coin:hover {
    color: yellow;
}
.bi-currency-bitcoin:hover {
    color: orange;
}

/* FOOTER */
footer {
   color: beige;
   margin-bottom: 0;
}

#footer a {
    color: beige;
}

/* MEDIA QueRIE */
@media screen and (max-width: 769px) {

}