* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Readex Pro';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
background-color: #6d6d6d;
}

#gridContainer {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

#menuNav a {
    font-size: 15px;
    font-weight: bold;
    color: beige;
}

/* .carousel-inner {
    display: flex;
    justify-content: center;
    margin-left: -310px;
}
 */
.tituloLista {
    margin-left: 250px;
    padding: 1px;
    font-weight: bold;
}

.carousel-inner iframe {
    width: 500px;
    height: 350px;

}

/* #instrumentales {
    grid-column: 1/4;
    grid-row: 3/4;
    gap: 10pt;
    justify-content: center;
    align-self: center;
    text-align: center;
    
    display: flex;
    flex-wrap: nowrap;
    color: beige;
    font-size: 15pt;
    font-weight: bold;
    align-items: baseline;
} */

/* #instrumentales iframe {
    width: fit-content;
    height: max-content;
    padding: 3pt;
} */

/* FINAL INSTRUMENTALES */

#licencias {
    grid-row: 3/5;
    grid-column: 1/4;
    gap: 5pt; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 5pt;
}

#licencias .licencias-tipo {
    color: beige;
    list-style-type:circle;
    list-style-position: inside;
    border-style: inset;
    border-radius: 5px;
    background-image: linear-gradient(grey, #003d33);
    
}

.licencias-tipo p {
    text-align: center;
    font-weight: bold;
    font-weight: 150pt;
    font-size: 20pt;
}

.licencias-tipo li {
    padding: 5pt;
    text-align: left;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerRights {
    color: beige;
    padding: 1pt;
}

.footerRedes {
    display: flex;
    flex-direction: row;
    gap: 5pt;
    
    color: beige;
    padding: 1pt;
}

.formTitle {
    text-align: center;
    color: beige;
    font-weight: bold;
    border-style:solid;
    border-radius: 5pt;
    background-image: linear-gradient(grey, #003d33)
}

.formInput {
    display: flex;
    justify-content: center;
    text-align: center;
    color: beige;
    font-weight: bold;
    gap: 5pt 8pt;
    padding: 3pt;
    
}

.inputSpace {
    display: flex;
    gap: 2pt;
    justify-content: end;
}

.inputFile {
    color: beige;
}