* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Readex Pro';
    box-sizing: border-box;
  
}
body {
background-color: #6d6d6d;
}

#instrumentales {
    grid-column: 1/4;
    grid-row: 3/4;
    gap: 10pt;
    justify-content: center;
    align-self: center;
    text-align: center;
    
    display: flex;
    flex-wrap: nowrap;
    color: beige;
    font-size: 15pt;
    font-weight: bold;
    align-items: baseline;
}

#instrumentales iframe {
    width: fit-content;
    height: max-content;
    padding: 3pt;
}

/* FINAL INSTRUMENTALES */

#licencias {
    grid-row: 3/5;
    grid-column: 1/4;
    gap: 5pt; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 5pt;
}

#licencias .licencias-tipo {
    color: beige;
    list-style-type:circle;
    list-style-position: inside;
    border-style: inset;
    border-radius: 5px;
    background-image: linear-gradient(grey, #003d33);
    
}

.licencias-tipo p {
    text-align: center;
    font-weight: bold;
    font-weight: 150pt;
    font-size: 20pt;
}

.licencias-tipo li {
    padding: 5pt;
    text-align: left;
}