* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: 'Readex Pro';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #6d6d6d;
}

/* NAV */
#menuNav a {
  font-size: 18   px;
  font-weight: bold;
  color: beige;
}

#menuNav .logoNav {
  width: 20px;
}

#menuNav a:hover {
  color: darkgreen;
}

/* PAGINA INSTRUMENTALES */
.instrumentales-genero iframe {
  width: 450px;
  height: 350px;
}

.instrumentales-genero p {
  color: beige;
  font-weight: bold;
  font-size: 50px;
}

/* PAGINA CONTACTO */
#contacto {
  list-style: none;
  text-align: center;
  color: beige;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .contacto-list {
  padding: 50pt;
}

#contacto .contacto-instagram {
  font-size: 50px;
  border-style: outset;
  border-radius: 5cm;
  background-image: -webkit-gradient(linear, left top, left bottom, from(grey), to(black));
  background-image: linear-gradient(grey, black);
}

#contacto .contacto-email {
  font-size: 50px;
  border-style: outset;
  border-radius: 5cm;
  background-image: -webkit-gradient(linear, left top, left bottom, from(grey), to(black));
  background-image: linear-gradient(grey, black);
}

#contacto .contacto-youtube {
  font-size: 50px;
  border-style: outset;
  border-radius: 5cm;
  background-image: -webkit-gradient(linear, left top, left bottom, from(grey), to(black));
  background-image: linear-gradient(grey, black);
}

#contacto p {
  padding: 25pt;
}

/* COLAB PAGINA */
#formColab .formTitle {
  color: beige;
  border-style: outset;
  background-image: -webkit-gradient(linear, left top, left bottom, from(grey), to(black));
  background-image: linear-gradient(grey, black);
  width: 100%;
  text-align: center;
}

#formColab .formInput {
  color: beige;
}

.bi {
  font-size: 150px;
  color: beige;
}

.colabTexto {
  color: beige;
}

/* Licencias PAGINA */
.tituloLicencias {
  color: beige;
  font-size: 80px;
  font-weight: bold;
}

#licencias .licencias-tipo {
  border-style: groove;
  border-radius: 10pt;
  border-width: 5pt;
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, left bottom, from(grey), to(black));
  background-image: linear-gradient(grey, black);
}

#licencias ul {
  color: beige;
}

/* Sobre Mi */
.info-div {
  color: beige;
  list-style: none;
}

.info-div li {
  color: beige;
  font-weight: bold;
}

.info-div li:hover {
  color: darkgreen;
}

.sobreMiIcon i {
  font-size: 230px;
}

.tituloSobreMi {
  color: beige;
  font-size: 250px;
  font-weight: bold;
}

/* FOOTER */
#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.footerRights {
  color: beige;
  padding: 1pt;
}

.footerRedes {
  color: beige;
  padding: 1pt;
}

.iconos {
  color: beige;
}

/* MediaQuerie 768px */
@media screen and (min-width: 768px) {
  body {
    background-color: #6d6d6d;
  }
  #instrumentales {
    gap: 10pt;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    color: beige;
    font-size: 15pt;
    font-weight: bold;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  #instrumentales iframe {
    width: 750px;
    height: 450px;
    padding: 3pt;
  }
  /* FINAL INSTRUMENTALES */
  #licencias {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    gap: 5pt;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #licencias .licencias-tipo {
    color: beige;
    list-style-type: circle;
    list-style-position: inside;
    border-style: inset;
    border-radius: 5px;
  }
  .licencias-tipo p {
    text-align: center;
    font-weight: bold;
    font-weight: 150pt;
    font-size: 20pt;
  }
  .licencias-tipo li {
    padding: 5pt;
    text-align: left;
  }
  /* FIN LICENCIAS */
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footerRights {
    color: beige;
    padding: 1pt;
  }
  .footerRedes {
    color: beige;
    padding: 1pt;
  }
  .iconos {
    color: beige;
  }
}
/*# sourceMappingURL=pages-beatstore.css.map */