@mixin borderColor () {
        border-color: beige;
        background-color: #003d33;
}

@mixin fondoBorder {
    background-image: linear-gradient(grey, black)
}

@mixin colorTexto {
    color: beige;
}

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Readex Pro';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #6d6d6d;
}

/* NAV */

#menuNav {
     a {
        font-size: 18   px;
        font-weight: bold;
        color: beige;
    }
    .logoNav {
        width: 20px;
    }
    a:hover{
        color: darkgreen;
    }
}

    /* PAGINA INSTRUMENTALES */

.instrumentales-genero {
    iframe {
    width:450px;
    height: 350px;
    }

    p {
        color: beige;
        font-weight: bold;
        font-size: 50px;
    }

}

    /* PAGINA CONTACTO */
#contacto{
    
    list-style: none;
    text-align: center;
    color: beige;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

#contacto {
    
    .contacto-list {
    padding: 50pt; }
    .contacto-instagram {
        font-size: 50px;
        border-style: outset;
        border-radius: 5cm;
        @include fondoBorder();
        
    }
    .contacto-email {
        font-size: 50px;
        border-style: outset;
        border-radius: 5cm;
        @include fondoBorder();
        
    }
    .contacto-youtube {
        font-size: 50px;
        border-style: outset;
        border-radius: 5cm;
        @include fondoBorder();
        
    }
    p {
        padding: 25pt;
    }
}

    /* COLAB PAGINA */

    #formColab
    {
        .formTitle {
        color: beige;
        border-style: outset;
        @include fondoBorder();
        width: 100%;
        text-align: center;
    }
        .formInput {
            color: beige;
            
        }
    }

    .bi {
        font-size: 150px;
        @include colorTexto();
    }

    .colabTexto {
        color: beige;
    }

   /* Licencias PAGINA */

  .tituloLicencias {
   @include colorTexto();
   font-size: 50px;
   font-weight: bold;
  }

  #licencias {
    .licencias-tipo {
        @include colorTexto();
        @include fondoBorder();
        font-weight: bold;
        border-radius: 5pt;
        border-style: groove;
        
    }

    ul {
       @include colorTexto()
    }
  }

   /* Sobre Mi */
   
      .info-div {
          color: beige;
        list-style: none;

        li {
            @include colorTexto();
            font-weight: bold;
        }
        li:hover {
            color: darkgreen;
        }
      }

      .sobreMiIcon { 
            i {
                font-size: 230px;
            }
       
      }
      .tituloSobreMi {
        @include colorTexto();
        font-size: 250px;
        font-weight: bold;
    }
     


   /* FOOTER */
   #footer{
    display: flex;
    margin-bottom: 0;
}

.footerRights {
    color: beige;
    padding:1pt;
}

.footerRedes {
    color: beige;
    padding: 1pt;
    
}

.iconos {
    color: beige;
    
}

    
   



    


 /* MediaQuerie min 769px */
 @media screen and (min-width: 768px) {
    body {
       background-color: #6d6d6d;
       }
              
       #instrumentales {
           gap: 10pt;
           justify-content: center;
           align-self: center;
           text-align: center;
           
           display: flex;
           flex-wrap: nowrap;
           color: beige;
           font-size: 15pt;
           font-weight: bold;
           align-items: baseline;
       }
       
       
       #instrumentales iframe {
           width: 750px;
           height: 450px;
           padding: 3pt;
       }
       
       /* FINAL INSTRUMENTALES */
       
       #licencias {
           grid-row: 4/5;
           grid-column: 1/4;
           gap: 5pt; 
           display: flex;
           flex-wrap: nowrap;
           justify-content: center;
           align-content: center;
       }
       
       #licencias .licencias-tipo {
           color: beige;
           list-style-type:circle;
           list-style-position: inside;
           border-style: inset;
           border-radius: 5px;
        }
            
       .licencias-tipo p {
           text-align: center;
           font-weight: bold;
           font-weight: 150pt;
           font-size: 20pt;
       }
       
       .licencias-tipo li {
           padding: 5pt;
           text-align: left;
       }
       
       /* FIN LICENCIAS */
       
       #footer{
        display: flex;
    }
    
    .footerRights {
        color: beige;
        padding: 1pt;
    }
    
    .footerRedes {
        color: beige;
        padding: 1pt;
        
    }
    
    .iconos {
        color: beige;
        
    }
}
/* MediaQuerie max 768 */
@media screen and (max-width: 769px) {
    /* PAGINA COLAB */

    
    
    /* PAGINA INSTRUMENTALES */
.instrumentales-genero {
    iframe {
    width:350px;
    height: 250px;
    }

    p {
        color: beige;
        font-weight: bold;
        font-size: 50px;
    }

}
}